<ion-header>
  <ion-toolbar>
    <ion-title>Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title class="Titulo">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="'/inicio'">
              <ion-icon slot="start" [name]="'home'"></ion-icon>
              <ion-label>
                Inicio
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/cliente-d'">
              <ion-icon slot="start" [name]="'person'"></ion-icon>
              <ion-label>
                Cliente
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/servicio-d'">
              <ion-icon slot="start" [name]="'diamond'"></ion-icon>
              <ion-label>
                Servicio
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/factura-d'">
              <ion-icon slot="start" [name]="'reader'"></ion-icon>
              <ion-label>
                Factura
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="Titulo">Opciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button class="info" [routerDirection]="'root'" [routerLink]="'/registrar-servicio'">
                <ion-card padding>
                  <img src="./assets/imagen7.png">
                  <ion-card-subtitle>
                    <a class="texto">Registrar</a>
                  </ion-card-subtitle>
                </ion-card>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="info" [routerDirection]="'root'" [routerLink]="'/listar-servicio'">
                <ion-card padding>
                  <img src="./assets/imagen8.png">
                  <ion-card-subtitle>
                    <a class="texto">Listar</a>
                  </ion-card-subtitle>
                </ion-card>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>
  </ion-app>
</ion-content>
