<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slide>
    <div class="contaier-login">
      <ion-grid>
        <form  [formGroup]="userRegisterForm" (ngSubmit)="register()">
        <ion-row>
          <ion-col>
            <h1>Registro</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
                <ion-item>
                  <ion-icon name="mail"></ion-icon>
                  <ion-input formControlName="username" id="username" type="text" required
                    placeholder="Correo electrónico *" class="Text"></ion-input>
                </ion-item>
                <br />
                <ion-item>
                  <ion-icon name="lock-open"></ion-icon>
                  <ion-input formControlName="password" id="password" type="password" required
                    placeholder="Contraseña *" class="Text"></ion-input>
                </ion-item>
                <br />
                <ion-item>
                  <ion-icon name="lock-open"></ion-icon>
                  <ion-input formControlName="confirmPassword" id="confirmPassword" type="password" required
                    placeholder="Confirmar contraseña *" class="Text"></ion-input>
                </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Registrarse</ion-button>
          </ion-col>
        </ion-row>
      </form>
      </ion-grid>
    </div>
  </ion-slide>
</ion-content>
